<!DOCTYPE html>
<html>
<head>
    <title>Configuration</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Configuration</h1>

        <!-- Tabs navigation -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#general">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#custom-instruction">Custom Instruction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#questions">Questions & IDs</a>
            </li>
        </ul>

        <form action="/save_config/{{ cognito_user_id }}" method="POST">
            <!-- General Tab Content -->
            <div class="tab-content">
                <div id="general" class="tab-pane fade">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="USERNAME">Username:</label>
                            <input type="text" class="form-control" id="USERNAME" name="USERNAME" value="{{ USERNAME }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="PASSWORD">Password:</label>
                            <input type="password" class="form-control" id="PASSWORD" name="PASSWORD" value="{{ PASSWORD }}">
                        </div>
                    </div>
                    <!--  -->
                    <div class="form-group">
                        <label for="api_key">OpenAI API Key:</label><br>
                        <input type="text" id="api_key" name="api_key" value="{{ api_key }}"><br>
                    </div>
                    <div class="form-group">
                        <label for="model">OpenAI Model:</label><br>
                        <select id="model" name="model">
                            <option value="gpt-3.5-turbo-16k" {% if model == 'gpt-3.5-turbo-16k' %}selected{% endif %}>gpt-3.5-turbo-16k</option>
                            <option value="gpt-4" {% if model == 'gpt-4' %}selected{% endif %}>gpt-4</option>
                            <option value="gpt-3.5-turbo-1106" {% if model == 'gpt-3.5-turbo-1106' %}selected{% endif %}>gpt-3.5-turbo-1106</option>
                            <option value="pt-4-1106-preview" {% if model == 'pt-4-1106-preview' %}selected{% endif %}>pt-4-1106-preview</option>
                        </select><br>
                    </div>
                    <div class="form-group">
                        <label for="history_maxlen">Conversation History Max Length:</label><br>
                        <input type="number" id="history_maxlen" name="history_maxlen" value="{{ history_maxlen }}" min="5"><br>
                    </div>
                    <div class="form-group">
                        <label for="max_requests">Max Requests:</label><br>
                        <input type="number" id="max_requests" name="max_requests" value="{{ max_requests }}" min="3" step="1"><br>
                    </div>
                    <div class="form-group">
                        <label for="reset_time">Reset Time (seconds):</label><br>
                        <input type="number" id="reset_time" name="reset_time" value="{{ reset_time }}"><br>
                    </div>
                    <div class="form-group">
                        <label for="threshold">Threshold:</label><br>
                        <input type="number" id="threshold" name="threshold" min="0" max="1" step="0.01" value="{{ threshold }}"><br>
                    </div>
                    <div class="form-group">
                        <label for="log_option">Logs:</label><br>
                        <select id="log_option" name="log_option">
                            <option value="fine_tune" {% if log_option == 'fine_tune' %}selected{% endif %}>Fine Tune</option>
                            <option value="vector_score_log" {% if log_option == 'vector_score_log' %}selected{% endif %}>Vector Score</option>
                            <option value="off" {% if log_option == 'off' %}selected{% endif %}>Off</option>
                        </select><br>
                    </div>
                </div>

                <!-- Custom Instruction Tab Content -->
                <div id="custom-instruction" class="tab-pane fade">
                    <div class="form-group">
                        <label for="knowledge_about_user">What would you like ChatGPT to know about you to provide better responses?</label>
                        <textarea class="form-control" id="knowledge_about_user" name="knowledge_about_user" rows="4">{{ knowledge_about_user }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="response_preference">How would you like ChatGPT to respond?</label>
                        <textarea class="form-control" id="response_preference" name="response_preference" rows="4">{{ response_preference }}</textarea>
                    </div>
                </div>

                <!-- Questions & IDs Tab Content -->
                <div id="questions" class="tab-pane fade">
                    <table id="questionsTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="wide-column">Questions</th>
                                <th class="narrow-column">Corresponding IDs</th>
                                <th class="action-column">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for q, cid in zipped_questions_ids %}
                            <tr>
                                <td class="wide-column"><input type="text" class="form-control" name="questions[]" placeholder="Enter question" value="{{ q }}"></td>
                                <td class="narrow-column"><input type="text" class="form-control" name="corresponding_ids[]" placeholder="Enter ID" value="{{ cid }}"></td>
                                <td class="action-column"><button type="button" class="btn btn-danger deleteRow">Delete</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="button" id="addRow" class="btn btn-secondary">Add</button>
                </div>

            <button type="submit" class="btn btn-primary">Save Configuration</button>
        </form>
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- Include Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        // Add a new row to the questions table
        document.getElementById("addRow").addEventListener("click", function() {
            var table = document.getElementById("questionsTable").getElementsByTagName('tbody')[0];
            var newRow = table.insertRow(table.rows.length);
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            cell1.innerHTML = '<input type="text" name="questions[]" placeholder="Enter question">';
            cell2.innerHTML = '<input type="text" name="corresponding_ids[]" placeholder="Enter ID">';
            cell3.innerHTML = '<button type="button" class="btn btn-danger deleteRow">Delete</button>';
        });

        // Delete a row from the questions table
        document.addEventListener("click", function(e) {
            if (e.target && e.target.classList.contains("deleteRow")) {
                var row = e.target.closest("tr");
                row.parentNode.removeChild(row);
            }
        });

        // Memorize which tab you were at
        $(function () {
            // ページが読み込まれたときにローカルストレージから現在のタブを読み込む
            var currentTab = localStorage.getItem('currentTab');
            if (currentTab) {
                $('.nav-tabs a[href="' + currentTab + '"]').tab('show');
            } else {
                // ローカルストレージに現在のタブがない場合は、最初のタブを表示
                $('.nav-tabs a[href="#general"]').tab('show');
            }

            // タブが切り替えられたときに現在のタブをローカルストレージに保存
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                localStorage.setItem('currentTab', $(e.target).attr('href'));
            });
        });
    </script>
    <style>
        .wide-column {
            width: 70%;
        }
        .narrow-column {
            width: 20%;
        }
        .action-column {
            width: 10%;
        }
    </style>
</body>

</html>
